<a href="https://colab.research.google.com/github/Esther-Opeyemi/Activity1/blob/master/Stage_A_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv?raw=true'
df = pd.read_csv(url, error_bad_lines=False)
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

UnicodeDecodeError: ignored

In [12]:
url='https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
food_data = pd.read_csv(url, encoding='latin-1')
food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [14]:
food_data["Item"].value_counts()

Milk - Excluding Butter     1262
Eggs                        1142
Miscellaneous                911
Cereals - Excluding Beer     714
Oilcrops                     706
                            ...
Grand Total                  135
Animal Products              135
Vegetal Products             135
Sugar non-centrifugal        121
Population                    90
Name: Item, Length: 119, dtype: int64

In [16]:
food_data.groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [17]:
a = 209460.54+269617.53

In [18]:
food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [21]:
food_data['Y2016'].isnull().sum()

1535

In [22]:
import seaborn as sns

In [25]:
food_data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [28]:
food_data.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [29]:
food_data["Area"].value_counts()

Kenya                          1560
Egypt                          1488
Nigeria                        1474
Côte d'Ivoire                  1467
Senegal                        1462
Cameroon                       1460
Uganda                         1458
Zambia                         1451
Malawi                         1447
Ethiopia                       1447
Madagascar                     1439
Mozambique                     1427
Rwanda                         1426
Angola                         1424
United Republic of Tanzania    1419
Congo                          1413
Guinea                         1410
Burkina Faso                   1409
Niger                          1403
South Africa                   1399
Zimbabwe                       1393
Morocco                        1393
Mauritius                      1378
Botswana                       1378
Ghana                          1354
Central African Republic       1344
Chad                           1343
Tunisia                        1338
Sudan                          1316
Algeria                        1313
Togo                           1294
Mali                           1293
Benin                          1285
Eswatini                       1284
Namibia                        1283
Cabo Verde                     1260
Gabon                          1245
Sierra Leone                   1242
Liberia                        1206
Mauritania                     1195
Sao Tome and Principe          1177
Gambia                         1168
Lesotho                        1150
Guinea-Bissau                  1128
Djibouti                       1095
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: Area, dtype: int64

In [34]:
df = food_data[food_data['Area'] == 'Algeria']
df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,464,311204,614916,83755.94,85972.86,87157.61,86810.42,90023.42
Export Quantity,392,264011,579278,1328.64,1104.62,1340.22,1494.54,811.54
Fat supply quantity (g/capita/day),432,291489,73872,320.19,317.40,309.54,320.74,309.09
Feed,88,58967,121462,9656.04,10308.00,9903.00,9571.00,10668.00
Food,420,282744,539910,60582.69,61693.49,63081.43,62785.33,63736.33
Food supply (kcal/capita/day),432,291489,71712,13500.00,13512.00,13483.00,13363.00,13288.00
Food supply quantity (kg/capita/yr),420,282744,67725,1556.45,1552.81,1555.77,1516.94,1509.28
Import Quantity,448,301030,628432,34940.12,37841.91,36736.08,36059.29,36238.29
Losses,208,139857,266396,7231.00,7471.00,7405.00,7428.00,7708.00
Other uses (non-food),148,101269,190698,3315.22,3483.37,3400.17,3534.08,3970.08
Processing,140,93537,179585,1776.00,1865.00,1920.00,2045.00,2479.00
Production,360,242590,495990,52534.48,53451.57,54554.75,54869.67,60766.67
Protein supply quantity (g/capita/day),432,291489,72792,379.56,377.37,378.84,371.26,367.28
Residuals,408,272327,527340,552.00,489.00,770.00,766.00,630.00
Seed,80,53109,110540,631.00,657.00,672.00,684.00,825.00
Stock Variation,376,251696,476768,2392.00,4233.00,2789.00,2636.00,6172.00
Total Population - Both sexes,4,2501,511,38924.00,39728.00,40551.00,41389.00,42228.00

In [35]:
food_data['Area'].nunique()

49